body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.admin-panel {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #333;
  padding: 20px;
  color: #fff;
}

.sidebar h2 {
  color: #fff;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.content {
  flex: 1;
  padding: 20px;
}

.page {
  display: block;
}
